@media screen and (max-width: 1199px) {
    .profil {
        position: relative;
        left: 800px;
    }
}

@media screen and (max-width: 991px) {
    .profil {
        position: relative;
        left: 620px;
    }
}

@media screen and (max-width: 767px) {
    .profil {
        position: relative;
        left: 370px;
        top: 2px;
    }
}

@media screen and (max-width: 576px) {
    header .burgericon {
        display: inline;
        position: relative;
        bottom: 2px;
    }
    header .container .menu a {
        display: inline;
    }
    .profil {
        position: relative;
        left: 150px;
    }

}