@media screen and (max-width: 1199px) {
    .profil {
        position: relative;
        left: 500px;
    }
}

@media screen and (max-width: 991px) {
    .profil {
        position: relative;
        left: 270px;
    }
}

@media screen and (max-width: 768px) {
    .profil {
        position: relative;
        left: 25px;
        top: 2px;
    }
}

@media screen and (max-width: 576px) {
    header .burgericon {
        display: inline;
    }
    header .container .menu a {
        display: block;
    }
    header .container .menu a.about-us,
    header .container .menu a.catalog,
    header .container .menu a.map,
    header .container .menu a.contacts {
        display: none;
    }
    .profil {
        position: relative;
        left: 10px;
        bottom: 15px;
    }

}