* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block1 {
    position: relative;
}

@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf');
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body {
    font-family: 'opensans', Arial, Helvetica; 
    width: 100%;
    font-size: 16px;
}

header {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure menu appears above iframe */
    background-color: rgba(209, 209, 209, 0.459); /* Semi-transparent background for better readability */
    padding: 10px 20px; /* Add padding to the header */
    width: calc(100% - 40px); /* Adjust width to accommodate padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visual separation */
    border-radius: 10px;
}
.burgericon {
    position: relative;
    bottom: 5px;
}

header .container .menu a.about-us,
header .container .menu a.catalog,
header .container .menu a.map,
header .container .menu a.contacts {
    font-size: 1em;
    text-decoration: none;
    color: black;
    margin: 0 20px;
    padding-right: 9px;
    border-right: 3px solid rgb(0, 0, 0);
    border-width: 1px;
    position: relative;
    bottom: 10px;
}

header .container .menu a:hover,
header .container .menu a.map {
    color: rgb(250, 178, 110);
}

.profil {
    position: relative;
    left: 640px;
}

.burgericon-2 {
    position: relative;
    bottom: 5px;
}
